@import "tailwindcss";
@import "tailwindcss/preflight" layer(base);

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --muted-foreground: 240 3.8% 46.1%;
  /* Custom theme variables */
  --hero-bg-image: url('/images/bg.jpg');
  --logo-image: url('/images/logo.png');
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted-foreground: 240 5% 64.9%;
   --hero-bg-image: url('/images/bg3.jpg');
  --logo-image: url('/images/logo1.png');
}

* {
  border-color: hsl(var(--border));
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

.hero-background {
  background-image: var(--hero-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}